{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

{% if validlink %}
<br><br><br>
<div class="container">
<div class='col-xs-8 col-md-11 col-lg-8'>
	<div class='col-sm-6 col-sm-offset-3 text-align-center'>
		<h1>Password Reset</h1>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
	</div>
</div>
</div>

{% else %}
<br><br><br><br><br><br>
<h1>{% trans "Password reset failed" %}</h1>

<div class="container">
<div class='col-xs-8 col-md-11 col-lg-8'>
	<div class='col-sm-6 col-sm-offset-3 text-align-center'>
		<h4>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!
		</h4>
		<h4>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!
		</h4>
	</div>
</div>
</div>

{% endif %}

{% endblock %}
