{% extends "base.html" %}
{% load i18n %}
{% block navbar_login %} 
            {% if not request.user.is_authenticated %}
            <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                <div class='form-group'>
                    <span class="input-form-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type='text' class='form-control' name='username' placeholder='Username' />     
                </div>

                <div class='form-group'>
                    <span class="input-form-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type='password' class='form-control' name='password' placeholder='Password' /> 
                </div>
                <button type='submit' class='btn btn-info'>Login</button>
                </div>
            </form>
            {% endif %}
{% endblock %}
{% block content %}
<br><br><br>
<h1>{% trans "Password reset successfully" %}</h1>
<div class="container">
<div class='col-xs-8 col-md-11 col-lg-8'>
	<div class='col-sm-6 col-sm-offset-3 text-align-center'>
		<h3> <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></h3>
			</div>
</div>
</div>

{% endblock %}
